<p>Hloooo Edit Class Page</p>



<form action="/admin/<%= class._id %>?_method=PUT" method="post">

  <label for="teacher">Teacher:</label>
  <select name="teacher" id="teacher" multiple value="<%= teacher.username %>">
    <% teachers.forEach((teacher)=> { %>
      <option value="<%= teacher._id %>">
        <%= teacher.username %>
      </option>
      <% }) %>
  </select>
  <br>
  <br>
  <label for="subject">Subject:</label>
  <select name="subject" id="subject" multiple value="<%= subject.name %>">
    <% subject.forEach((subject)=> { %>
      <option value="<%= subject._id %>">
        <%= subject.name %>
          <% }) %>
      </option>
  </select>
  <br>

  <label for="time">Time:</label>
  <select name="time" id="time" multiple value="<%= pap.name %>">
    <option value="09:00 AM">09:00 AM</option>
    <option value="12:00 PM">12:00 PM</option>
    <option value="03:00 PM">03:00 PM</option>
    <option value="06:00 PM">06:00 PM</option>
  </select>
  <br>
  <br>
  <label for="capacity">capacity:</label>
  <input type="number" name="capacity" id="capacity">
  <br>

  <!-- Add a submit button -->
  <button type="submit">Open Class</button>
</form>