<%- include('../partials/_navbar.ejs') %>

  <br>
  <br>
  <br>
  <br>
  <table class="table">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">Teacher</th>

      </tr>
    </thead>
    <% let counter=1; %>
      <% teachers.forEach((teachers)=> { %>
        <tbody>
          <tr>
            <td>
              <%= counter++ %>
            </td>

            <td>
              <%= teachers.username %>
            </td>
            <td>
              <a href="/admin/<%= populateClass._id %>/edit">Edit</a>
            </td>
            <td>
              <form action="/admin/<%= populateClass._id %>?_method=DELETE" method="POST">
                <button type="submit">Delete</button>
              </form>
            </td>
          </tr>
          <% }) %>
        </tbody>
  </table>